<div class="container">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Product Backlog">
            <img src="images/d4_images/d4_backlog1.png" class="bioPic">
            <img src="images/d4_images/d4_backlog2.png" class="bioPic">
            <img src="images/d4_images/d4_backlog3.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="1" heading="Release Plan">
            <img src="images/d4_images/d4_release1.png" class="bioPic">
            <img src="images/d4_images/d4_release2.png" class="bioPic">
            <img src="images/d4_images/d4_release3.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="2" heading="Sprint Plans">
            <h4>Sprint 2 Taskboard Start/End</h4>
            <img src="images/d4_images/sprint2/sprint2_taskboard_start.png" class="bioPic">
            <img src="images/d4_images/sprint2/sprint2_taskboard_end.png" class="bioPic">
            <hr>
            <h4>Sprint 2 Backlog</h4>
            <img src="images/d4_images/sprint2/sprint2.png" class="bioPic">
            <hr>
            <h4>Sprint 2 Burndown Chart Start/End</h4>
            <img src="images/d4_images/sprint2/sprint2_burndown_start.png" class="bioPic">
            <img src="images/d4_images/sprint2/sprint2_burndown_end.png" class="bioPic">
            <hr>
            <h4>Sprint 3 Taskboard Start/End</h4>
            <img src="images/d4_images/sprint3/sprint3_taskboard_start.png" class="bioPic">
            <img src="images/d4_images/sprint3/sprint3_taskboard_end.png" class="bioPic">
            <hr>
            <h4>Sprint 3 Backlog</h4>
            <img src="images/d4_images/sprint3/sprint3.png" class="bioPic">
            <hr>
            <h4>Sprint 3 Burndown Chart Start/End</h4>
            <img src="images/d4_images/sprint3/sprint3_burndown_start.png" class="bioPic">
            <img src="images/d4_images/sprint3/sprint3_burndown_end.png" class="bioPic">
            <hr>
            <h4>Sprint 4 Taskboard Start/End</h4>
            <img src="images/d4_images/sprint4/sprint4_taskboard_start.png" class="bioPic">
            <img src="images/d4_images/sprint4/sprint4_taskboard_end.png" class="bioPic">
            <hr>
            <h4>Sprint 4 Backlog</h4>
            <img src="images/d4_images/sprint4/sprint4.png" class="bioPic">
            <hr>
            <h4>Sprint 4 Burndown Chart Start/End</h4>
            <img src="images/d4_images/sprint4/sprint4_burndown_start.png" class="bioPic">
            <img src="images/d4_images/sprint4/sprint4_burndown_end.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="4" heading="System Design">
            <h3>System Design</h3>
            <img src="{{systemDesign.image}}" class="biopic">
            <hr>
            <div class="well">
                <h4 ng-repeat='des in systemDesign.description'>{{des}}</h4>
            </div>
            <hr>
        </uib-tab>
        <uib-tab index="5" heading="Reflection">
        </uib-tab>
        <uib-tab index="6" heading="Code Inspection Report">
            <div class="row" ng-repeat="review in codeReviews">
                <hr>
                <div class="col-md-3">
                    <p><b>Reviewer:</b> {{review.reviewerName}}</p>
                    <p><b>Code under review:</b> <a target="_blank" href="{{review.codeLink}}">{{review.codeName}}</a></p>
                    <p><b>Author:</b> {{review.author}}</p>
                    <p><b>Date of review:</b> {{review.dateOfReview}}</p>
                </div>
                <div class="col-md-9">
                    <p><b>Bugs:</b> {{review.bugs}}</p>
                    <p><b>Poor Code Logic:</b> {{review.poorCodeLogic}}</p>
                    <p><b>Poor Code Style:</b> {{review.poorCodeStyle}}</p>
                    <p><b>Missing Documentation:</b> {{review.missingDocumentation}}</p>
                    <p><b>Unreadable Code:</b> {{review.unreadableCode}}</p>
                    <p><b>Vulnerabilities:</b> {{review.vulnerabilities}}</p>
                    <p><b>Poor Testing:</b> {{review.poorTesting}}</p>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="7" heading="Code Review Video/System Validations">
            <h3>Sneak-peek at our code review...</h3>
            <ng-youtube-embed url="groupVid" width="100%" gaming="false"></ng-youtube-embed>
            <hr>
            <h3>System Validations</h3>
            <div class="well">
                <h4 ng-repeat='desc in systemValidationDesc'>{{desc}}</h4>
            </div>
        </uib-tab>
        <uib-tab index="8" heading="Overview of Deliverable 4">
        </uib-tab>
    </uib-tabset>
</div>
