<div class="container">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Product Backlog">
        </uib-tab>
        <uib-tab index="1" heading="Release Plan">
        </uib-tab>
        <uib-tab index="2" heading="Sprint Plan">
        </uib-tab>
        <uib-tab index="4" heading="System Design">
        </uib-tab>
        <uib-tab index="5" heading="Reflection">
        </uib-tab>
        <uib-tab index="6" heading="Code Inspection Report">
        </uib-tab>
        <uib-tab index="7" heading="Overview of Deliverable 4">
        </uib-tab>
    </uib-tabset>
</div>
