<div class="container">
    <h4>{{error}}</h4>
    <h4>NASA Exoplanet Archive Data(Updated on 2014-05-14)</h4>
    <button ng-click="getNasaData()" ng-disabled="isNASADisabled">Get NASA Data</button>
    <h4>EU Exoplanet Data</h4>
    <button ng-click="getEUData()" ng-disabled="isEUDisabled">Get EU Data</button>

    <table>
        <tbody>
            <tr ng-repeat="(key, value) in nasaData">
                <td ng-repeat="(key2, data) in value">{{data}}</td>
            </tr>
        </tbody>
    </table>
    {{euData}}
</div>
