<html lang="en">
<head>
	<title>Edit (Exoplanet name)</title>
</head>
<style>
	body {
		background-image: url("../../images/spacebackground.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		text-align: center;
		font-family: sans-serif;
	}

	h1 {
		margin-top: 100px;
		color: #e5e5e5;
		font-size: 36pt;
	}

	.xml {
		border: none;
		margin-bottom: 30px;
	}
</style>
<body>
	<h1>Exoplanet Name</h1>
	<textarea class="xml">
	</textarea>
	<br>
	<a href="show_updates"><button ng-click="submit()">Save</button></a>
	<a href="show_updates"><button ng-click="cancel()">Cancel</button></a>


</body>
</html>
<!-- 

http://jsfiddle.net/y9fqf/1/ -->