<html lang="en">
<head>
	<title>Show New Updates</title>
</head>
<style>
	body {
		background-image: url("/cmshome/wongsi11/cscc01f16_space/team20-Project/APP/client/images/spacebackground.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		font-family: sans-serif;
		color: #e5e5e5;
		text-align: center;
	}

	.exoplanet-container {
		float:left;
	}
	.NASA-container {
		float: right;
	}

	button {

	}

</style>
<body>
	<div class="container">
		<h1>New Updates from Other Databases</h1>
		<div class="exoplanet-container">
		<h2>Exoplanet.eu</h2>
		</div>

		<div class="NASA-container">
			<h2>NASA Exoplanet Archive</h2>
		</div>

		<button ng-click="submit()">Add to Database</button>
		<a href="frontend1.html"><button ng-click="cancel()">Go Back</button></a>
	</div>
</body>
</html>