<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Show New Updates</title>
</head>
<style>
	body {
		background-image: url("public/images/spacebackground.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		font-family: sans-serif;
		color: #e5e5e5;
		text-align: center;
	}
	h1 {
		margin-top: 100px;
		color: #e5e5e5;
		font-size: 36pt;
	}

	.container {
		text-align: center;
		width: 100%;
	}

	a {
		text-decoration: none;
	}

</style>
<body>
	<div class="container">
		<h1>New Updates from Other Databases</h1>
		<div class="row">
			<div class="col-sm-6">
				<h2>Exoplanet.eu</h2>
			</div>
				<div class="col-sm-6">
				<h2>NASA Exoplanet Archive</h2>
			</div>
		</div>
		<br><br>
		<a href="public/somepage"><button ng-click="submit()">Add to Database</button></a>
		<a href="public/frontend1"><button ng-click="cancel()">Cancel</button></a>

	</div>
</body>
</html>