<div class="container">
	<h3>
		Our Team Agreements:
	</h3>
	<h4 class="well">
		<ol>
			<li>We will communicate mainly using Slack. We will also message through Skype, Facebook, texts or emails if necessary.</li>
			<br>
			<li>Response times should at be within a day. Team members should check Slack at least once a day.</li>
			<br>
			<li>We will meet at least once a week on Fridays after CSCC01 tutorial.</li>
			<br>
			<li>Expect to meet at school in the IC labs, BV labs, or in any available study space. Also expect any online message meetings if necessary.</li>
			<br>
			<li>Don't push code that does not compile, or breaks any main features. Commits should have a meaningful message about what has changed. Drastic changes to code should be consulted with other team members.</li>
			<br>
			<li>All work should be divided equally among members or based on each member's strengths after planning/discussion. Members unable to finish work should bring it up with team members.</li>
			<br>
			<li>All members should do review before submitting. Expect submission to be within a day of deadline. Submitter will be picked during day of the submission.</li>
			<br>
			<li>Any major conflicts will be brought up with Anya or our TA.</li>
		</ol>
	</h4>
</div>