<div class="container">
	<h3> About our Team: </h3>
	<img ng-src="images/group_pic.jpg" class="group center-block">
	<div>
		<h4>We are Loopy Loop, a group of UofT students dedicated in developing efficient software that meets our client's needs. Our group's greatest strength is our diverse knowledge in the software field, as each of our members have unique software development experiences from university or from a workplace. Our members also have a diverse background in education; three of our group members specialize in software development, one in information systems and one in management. We are all passionate in computer science, and are all proven in the past to have great teamwork skills. </h4>
		<h4>Our main goal is to deliver a finished software product that satisfies our client's needs. We hope to improve on our teamwork skills even more as we work together through the software development cycle. As we progress together, we would also like to learn more about the different methodologies that makes great software and be able to put them into practice. Lastly, we want to put all our effort into making something that we're all proud of. </h4>
	</div>
</div>