<div class="container">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Questions">
            <div class="well">
                <ol>
                    <div ng-repeat="part1Question in questions">
                        <h4>
						<li>
							{{part1Question.question}}
							<ul>
								<div ng-repeat="part1Answer in part1Question.answer">
									<li>{{part1Answer}}</li>
								</div>
							</ul>	
						</li>
					</h4>
                    </div>
                </ol>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Product Backlog">
            <img src="images/product_backlog.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="2" heading="Release Plan">
            More Tab Content
        </uib-tab>
        <uib-tab index="3" heading="Sprint Plan">
            <h4>Snapshot of taskboard from Zen-Hub</h4>
            <img src="images/task_board_snapshot.png" class="bioPic">
            <hr>
            <h4>Snapshot of sprint backlog</h4>
            <img src="images/sprint1.png" class="bioPic">
            <hr>
            <h4>Snapshot of burndown chart</h4>
            <img src="images/burndown1.png" class="bioPic">
            <hr>
        </uib-tab>
    </uib-tabset>
</div>
