<div class="container">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Questions">
            <div class="well">
                <ol>
                    <div ng-repeat="part1Question in questions">
                        <h4>
						<li>
							{{part1Question.question}}
							<ul>
								<div ng-repeat="part1Answer in part1Question.answer">
									<li>{{part1Answer}}</li>
								</div>
							</ul>	
						</li>
					</h4>
                    </div>
                </ol>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Product Backlog">
            <img src="images/product_backlogv2part1.png" class="bioPic">
            <img src="images/product_backlogv2part2.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="2" heading="Release Plan">
            <h4>Snapshot of release plan</h4>
            <img src="images/release1v2part1.png">
            <img src="images/release1v2part2.png">
        </uib-tab>
        <uib-tab index="3" heading="Sprint Plan">
            <h4>Snapshot of taskboard from Zen-Hub</h4>
            <img src="images/task_board_snapshotv2.png" class="bioPic">
            <hr>
            <h4>Snapshot of sprint backlog</h4>
            <img src="images/sprint1v2.png" class="bioPic">
            <hr>
            <h4>Snapshot of burndown chart</h4>
            <img src="images/burndown1v2.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="4" heading="System Design">
            <img src="images/system_design.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="5" heading="Reflection">
            <h4>We updated our Product Backlog to include more user stories. This was done due our first user story being too big, thus we decided to break it down into several new user stories.</h4>
            <h4>Overall, the progress from deliverable 2 and deliverable 3 involved mostly designing the frontend and backend for our system. We created a backend that would pull data from the necessary catalogues and we also made a user interface that displays the data that was pulled.</h4>
            <h4>Our estimated project velocity was 28 developer hours. Our actual project velocity was 22 developer hours.</h4>
            <h4>Our project began mostly according to plan. However, on Day 3 we decided to remove some of the feature releases due us being over ambitious with our original plan. We also had to adjust our plans due to a core member of our group being unable to work throughout the sprint.</h4>
           <hr>
        </uib-tab>
    </uib-tabset>
</div>
