<div class="container">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Product Backlog">
            <img src="images/d5_images/d5_backlog1.png" class="bioPic">
            <img src="images/d5_images/d5_backlog2.png" class="bioPic">
            <img src="images/d5_images/d5_backlog3.png" class="bioPic">
            <img src="images/d5_images/d5_backlog4.png" class="bioPic">    
            <hr>
        </uib-tab>
        <uib-tab index="1" heading="Release Plan">
        </uib-tab>
        <uib-tab index="2" heading="Sprint Plans">
        </uib-tab>
        <uib-tab index="3" heading="System Design">
            <h3>System Design</h3>
            <img src="{{systemDesign.image}}" class="biopic">
            <hr>
            <div class="well">
                <h4 ng-repeat='des in systemDesign.description'>{{des}}</h4>
            </div>
            <hr>
        </uib-tab>
        <uib-tab index="4" heading="Changes">
        </uib-tab>
        <uib-tab index="5" heading="Code Review Video/System Validations">
        </uib-tab>
        <uib-tab index="6" heading="Overview of Project Saga">
        </uib-tab>
    </uib-tabset>
</div>
