<div class="container">
    <uib-tabset active="activeForm">
        <uib-tab index="0" heading="Product Backlog">
            <img src="images/d5_images/d5_backlog1.png" class="bioPic">
            <img src="images/d5_images/d5_backlog2.png" class="bioPic">
            <img src="images/d5_images/d5_backlog3.png" class="bioPic">
            <img src="images/d5_images/d5_backlog4.png" class="bioPic">    
            <hr>
        </uib-tab>
        <uib-tab index="1" heading="Release Plan">
            <img src="images/d5_images/d5_release1.png" class="bioPic">
            <img src="images/d5_images/d5_release2.png" class="bioPic">
            <img src="images/d5_images/d5_release3.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="2" heading="Sprint Plans">
            <h4>Sprint 5 Taskboard Start/End</h4>
            <img src="images/d5_images/sprint5/sprint5_taskboard_start.png" class="bioPic">
            <img src="images/d5_images/sprint5/sprint5_taskboard_end.png" class="bioPic">
            <hr>
            <h4>Sprint 5 Backlog</h4>
            <img src="images/d5_images/sprint5/sprint5_1.png" class="bioPic">
            <img src="images/d5_images/sprint5/sprint5_2.png" class="bioPic">
            <img src="images/d5_images/sprint5/sprint5_3.png" class="bioPic">
            <hr>
            <h4>Sprint 5 Burndown Chart Start/End</h4>
            <img src="images/d5_images/sprint5/sprint5_burndown_start.png" class="bioPic">
            <img src="images/d5_images/sprint5/sprint5_burndown_end.png" class="bioPic">
            <hr>
            <h4>Sprint 6 Taskboard Start/End</h4>
            <img src="images/d5_images/sprint6/sprint6_taskboard_start.png" class="bioPic">
            <img src="images/d5_images/sprint6/sprint6_taskboard_end.png" class="bioPic">
            <hr>
            <h4>Sprint 6 Backlog</h4>
            <img src="images/d5_images/sprint6/sprint6_1.png" class="bioPic">
            <img src="images/d5_images/sprint6/sprint6_2.png" class="bioPic">
            <img src="images/d5_images/sprint6/sprint6_3.png" class="bioPic">
            <hr>
            <h4>Sprint 6 Burndown Chart Start/End</h4>
            <img src="images/d5_images/sprint6/sprint6_burndown_start.png" class="bioPic">
            <img src="images/d5_images/sprint6/sprint6_burndown_end.png" class="bioPic">
            <hr>
            <h4>Sprint 7 Taskboard Start/End</h4>
            <img src="images/d5_images/sprint7/sprint7_taskboard_start.png" class="bioPic">
            <img src="images/d5_images/sprint7/sprint7_taskboard_end.png" class="bioPic">
            <hr>
            <h4>Sprint 7 Backlog</h4>
            <img src="images/d5_images/sprint7/sprint7_1.png" class="bioPic">
            <img src="images/d5_images/sprint7/sprint7_2.png" class="bioPic">
            <hr>
            <h4>Sprint 7 Burndown Chart Start/End</h4>
            <img src="images/d5_images/sprint7/sprint7_burndown_start.png" class="bioPic">
            <img src="images/d5_images/sprint7/sprint7_burndown_end.png" class="bioPic">
            <hr>
        </uib-tab>
        <uib-tab index="3" heading="System Design">
            <h3>System Design</h3>
            <img src="{{systemDesign.image}}" class="biopic">
            <hr>
            <div class="well">
                <h4 ng-repeat='des in systemDesign.description'>{{des}}</h4>
            </div>
            <hr>
        </uib-tab>
        <uib-tab index="4" heading="Changes">
        <h4>We did not make many changes compared to the last deliverable during our sprints. The only change we made is the ordering of the priorities of some of our user stories in our product backlog. We shifted the user stories that used to be in priorities 13-15 to 16-18 in our recent sprints. The reason we made this was because we felt that these user stories weren't as important as the later user stories, thus we decided to complete them on a later date.</h4>
        <h4>We also made minor changes to our release plans and taskboards during our sprints. Because we moved the priorities of some of our user stories, such changes were needed. We readjusted our release plan and taskboards to reflect shifting these user stories. We also shortened the list of user stories to be released in our seventh sprint. The reason we did this was because we believe that based on our project velocity, we won't be able to complete all the user stories that we had previously thought we would.</h4>
        </uib-tab>
        <uib-tab index="5" heading="Code Inspection Report">
            <div class="row" ng-repeat="review in codeReviews">
                <hr>
                <div class="col-md-3">
                    <p><b>Reviewer:</b> {{review.reviewerName}}</p>
                    <p><b>Code under review:</b> <a target="_blank" href="{{review.codeLink}}">{{review.codeName}}</a></p>
                    <p><b>Author:</b> {{review.author}}</p>
                    <p><b>Date of review:</b> {{review.dateOfReview}}</p>
                </div>
                <div class="col-md-9">
                    <p><b>Bugs:</b> {{review.bugs}}</p>
                    <p><b>Poor Code Logic:</b> {{review.poorCodeLogic}}</p>
                    <p><b>Poor Code Style:</b> {{review.poorCodeStyle}}</p>
                    <p><b>Missing Documentation:</b> {{review.missingDocumentation}}</p>
                    <p><b>Unreadable Code:</b> {{review.unreadableCode}}</p>
                    <p><b>Vulnerabilities:</b> {{review.vulnerabilities}}</p>
                    <p><b>Poor Testing:</b> {{review.poorTesting}}</p>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="6" heading="Code Review Video/System Validations">
        </uib-tab>
        <uib-tab index="7" heading="Overview of Project Saga">
        </uib-tab>
    </uib-tabset>
</div>
